---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <small>

        {% for tag in site.tags %}

        {% assign tag_slug = tag | first %}
        {% assign no_of_posts = tag | last | size %}

        <a href="{{ 'tagged/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">#{{ tag_slug }}</a>
        {% endfor %}
    </small>

    <ul class="blog-posts">
        {% assign post_list = '' | split: ',' %}
        {% for post in site.posts %}
        {% assign post_list = post_list | push: post %}
        {% endfor %}
        
        {% for post in post_list %}
        
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
        <ul>
        {% assign date = currentdate %}
        {% endif %}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{ post.date | date: "%b %-d" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% if forloop.last %}</ul>{% endif %}
        
        {% endfor %}

    </ul>

</main>

{% include footer.html %}

</body>

</html>
