---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    {% if site.tags[page.slug] %}
    <p>
        Here be writings, tagged as <b>"{{ page.slug }}"</b>.<br>
        <small><a href="{{ site.baseurl }}{{ site.Blog }}">Remove filter</a></small>
    </p>

    <ul class="blog-posts">
        {% assign postsByYear = site.tags[page.slug] | group_by_exp:"post", "post.date | date: '%Y' " %}
        {% for year in postsByYear %}
        <h2>{{ year.name }}</h2>
        <ul>
        {% for post in year.items %}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{ post.date | date: "%b %-d" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>
        {% endfor %}

    </ul>
    {% else %}
    <p>
        There are no posts in {{ page.slug }}.
    </p>
    {% endif %}

</main>

{% include footer.html %}

</body>

</html>
